.weather-container {
    padding: 20px;
    margin: 0 auto;
}

.forecast-container {
    width: 66%;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    margin-top: -20px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
}

.day {
    padding: 30px;
}