.header {
    background-color: #175c6d;
    color: rgba(222, 253, 253);
    margin: 0 auto;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}