.header {
    background-color: #175c6d;
    color: #eee;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}