.search-bar {
	padding-top: 15px;
	margin: 0 auto;
	display: inline-block
}

.search-input {
	width: 300px;
	padding: 8px;
	margin: 10px 5px;
	box-sizing: border-box; 
}

.search-btn {
	padding: 10px;
	margin: 0 auto;
	border-radius: 20%;
	background-color: aliceblue;
}